<ion-view view-title="Activity">
  <!-- TODO solution for if Activity Title within header is too long
  can md-header wrap? -->
  <ion-nav-buttons side="secondary">
    <ss-rsvp-menu ng-if="::activity.myRsvp" rsvp-value="activity.myRsvp"></ss-rsvp-menu>
    <md-button class="md-icon-button"><md-icon>edit</md-icon></md-button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <md-card class="ss-activity ss-detail-view">
      <md-card-content>
        <div class="ss-creator">
          <div>{{creator.name}}</div>
          <img src="{{creator.avatarUrl}}"/>
        </div>
        <h2><i class="ss-sport-icon {{sportIcon}}"></i>
          {{::activity.title}}</h2>
        <h3 layout="row" layout-wrap flex>
          <div>
            <md-icon class="material-icons md-18">today</md-icon>
            <span class="padding-right">{{::activity.startDate|momentDate:'dddd, MMMM Do'}}</span>
          </div>
          <div>
            <md-icon class="material-icons md-18">access_time</md-icon>
            <span class="time">{{::activity.startDate|momentDate:'h:mmA'}}
              <span ng-if="!multiday">&ndash; {{::activity.endDate|momentDate:'h:mmA'}}</span>
            </span>
          </div>
        </h3>
        <h3>
          <md-icon class="md-18">place</md-icon> {{::activity.locName}}
        </h3>
        <h3 layout="row" layout-wrap ng-if="multiday">
          <div>
            <md-icon class="material-icons md-18">arrow_forward</md-icon>
            <span class="padding-right">{{::activity.endDate|momentDate:'dddd, MMMM Do'}}</span>
          </div>
          <div>
            <md-icon class="material-icons md-18">timelapse</md-icon>
            <span class="time">{{::activity.endDate|momentDate:'h:mmA'}}</span>
          </div>
        </h3>
        <p>{{::activity.descr}}</p>
      </md-card-content>
    </md-card>

    <md-tabs md-stretch-tabs="auto" md-dynamic-height>
      <md-tab>
        <md-tab-label><md-icon>people</md-icon> {{::activity.numRsvpGoing}}~{{::activity.numRsvpPossible}} people</md-tab-label>
        <md-tab-body>
          <md-progress-circular ng-hide="::viewEntered" md-mode="indeterminate"></md-progress-circular>
          <md-list ng-if="::viewEntered">
            <md-subheader ng-if="::activity.numRsvpGoing">
              <md-icon class="md-18">thumb_up</md-icon>
              Going <span class="badge badge-stable">{{::activity.numRsvpGoing}}</span></md-subheader>
            <ss-person-rsvp rsvp="rsvp" ng-repeat="rsvp in ::activity.rsvps | filter:{r:3} track by rsvp.pId"></ss-person-rsvp>

            <md-divider ng-if="::activity.numRsvpMaybe"></md-divider>
            <md-subheader ng-if="::activity.numRsvpMaybe">
              <md-icon class="md-18">help</md-icon>
              Maybe <span class="badge badge-stable">{{::activity.numRsvpMaybe}}</span></md-subheader>
            <ss-person-rsvp rsvp="rsvp" ng-repeat="rsvp in ::activity.rsvps | filter:{r:2} track by rsvp.pId"></ss-person-rsvp>

            <md-divider ng-if="::activity.numRsvpUnknown"></md-divider>
            <md-subheader ng-if="::activity.numRsvpUnknown">
              <md-icon class="md-18">error</md-icon>
              No response <span class="badge badge-stable">{{::activity.numRsvpUnknown}}</span></md-subheader>
            <ss-person-rsvp rsvp="rsvp" ng-repeat="rsvp in ::activity.rsvps | filter:{r:0} track by rsvp.pId"></ss-person-rsvp>

            <md-divider ng-if="::activity.numRsvpNo"></md-divider>
            <md-subheader ng-if="::activity.numRsvpNo" class="md-warn">
              <md-icon class="md-18 md-warn md-hue-3">thumb_down</md-icon>
              Not Going <span class="badge badge-stable">{{::activity.numRsvpNo}}</span></md-subheader>
            <ss-person-rsvp rsvp="rsvp" ng-repeat="rsvp in ::activity.rsvps | filter:{r:1} track by rsvp.pId"></ss-person-rsvp>
          </md-list>
        </md-tab-body>
      </md-tab>
      <md-tab>
        <md-tab-label><md-icon>chat</md-icon> Discussion <span class="badge badge-positive">3</span></md-tab-label>
        <md-tab-body>
          <div class="md-padding">
          <h4>TODO Comments feature</h4>
            <p>The number 3 would indicate new comments since you've viewed this Activity; these
            would be highlighted.</p>
            <p>
              The UI could just be an avatar list similar to the people tab. However, other solutions such as the
              <a href="http://flatfull.com/themes/materil/angular/#/ui/component/timeline">timeline component</a>
              might look better.
            </p>

          </div>
        </md-tab-body>
      </md-tab>

    </md-tabs>

  </ion-content>
</ion-view>
