<md-card class="ss-activity ss-detail-view">
  <!-- Need position: relative for ink ripple to be contained correctly -->
  <md-card-content ng-click="openActivityDetail()" md-ink-ripple style="position: relative;">
    <div class="ss-creator">
      <div>{{creator.name}}</div>
      <img ng-src="{{creator.avatarUrl}}"/>
    </div>
    <h2>
      <i class="ss-sport-icon" ng-class="sportIcon"></i>
      {{activity.title}} @ {{activity.locName}}
    </h2>
    <h3 layout="row" layout-wrap>
      <div>
        <md-icon class="material-icons md-18">today</md-icon>
        <span class="padding-right">{{activity.startDate|momentDate:'dddd, MMMM Do'}}</span>
      </div>
      <div>
        <md-icon class="material-icons md-18">access_time</md-icon>
        <span class="time">{{activity.startDate|momentDate:'h:mmA'}}
          <span ng-if="!multiday">&ndash; {{activity.endDate|momentDate:'h:mmA'}}</span>
        </span>
      </div>
    </h3>
    <h3 layout="row" layout-wrap ng-if="multiday">
      <div>
        <md-icon class="material-icons md-18">arrow_forward</md-icon>
        <span class="padding-right">{{activity.endDate|momentDate:'dddd, MMMM Do'}}</span>
      </div>
      <div>
        <md-icon class="material-icons md-18">timelapse</md-icon>
        <span class="time">{{activity.endDate|momentDate:'h:mmA'}}</span>
      </div>
    </h3>
    <!-- TODO if limited, ellipses ... -->
    <p>{{activity.descr|limitTo:200}}</p>
  </md-card-content>
  <div class="md-actions" layout="row" layout-align="center center" layout-wrap>
    <md-button>
      <md-icon>people</md-icon>
      {{activity.numRsvpPossible}} People
    </md-button>
    <!-- TODO Performance: Should be able to just have one RSVP menu instance and share it -->
    <ss-rsvp-menu rsvp-value="activity.myRsvp" ng-if="activity.myRsvp >= 0" button-class="md-raised"></ss-rsvp-menu>
  </div>
</md-card>
