<ion-view view-title="Account">
  <ion-content>

    <div class="card">
      <div class="item item-divider">
        <h2>Your public profile</h2>
      </div>
      <div class="item item-avatar" ng-click="alert('hi')">
        <img src="img/demo/scuba_avatar.jpg">
        <h2>Arlo White</h2>
        <i class="icon ion-male"> Male</i>
      </div>
      <div class="item row">
        <div class="col">
          Age 30
        </div>
        <div class="col">
          November 1984
        </div>
      </div>
      <div class="item">
        Corvallis, OR
      </div>
        <!--
          <label class="toggle">
            <input type="checkbox">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
          -->
        <!-- ion-toggle has "item" class
        toggle-class="toggle-calm"
        -->
      <ion-toggle ng-model="wantFriends" class="item-text-wrap" ng-checked="true">
        Looking for friends
        <p class="info-text" ng-if="wantFriends">Other sportSocial users in your area <b>may send you friend invitations</b>.</p>
        <p class="info-text" ng-if="!wantFriends">Other sportSocial users <b>cannot search for your profile</b>.</p>
      </ion-toggle>

      <div class="item">
        <h2>Favorite activities</h2>
        <span class="activity-tags">scuba-diving, rock-climbing</span></p>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        <h2>Social networks</h2>
      </div>

      <div class="item item-text-wrap">
        <p>Connect to your social networks to invite friends to sportSocial.</p>
        <p>If you have privacy concerns, read <a href="">how sportSocial uses social networks</a>.</p>
      </div>

      <div class="item row">
        <div class="col">
          <h2 class="assertive">Google+</h2>
        </div>
        <div class="col">
          <button class="button button-balanced">
            <i class="icon ion-log-in"></i>
            Connect
          </button>
        </div>
      </div>

      <div class="item row">
        <div class="col">
          <h2 class="positive">Facebook</h2>
          <p>145 friends</p>
        </div>
        <div class="col">
          <button class="button button-clear button-assertive">
            <i class="icon ion-close-circled"></i>
            Disconnect
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
