<ion-view view-title="Activities">
  <ion-nav-buttons side="secondary">
    <button class="button icon ion-android-add button-positive" ng-click="addActivity()"></button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-positive tabs-striped tabs-top" ui-view="tabs">
    <ion-tab title="Mine" href="#/app/activities/mine">
      <!--ui-sref="mine"-->
      <ion-nav-view name="mine-tab"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Friend's" href="#/app/activities/friends">
      <ion-nav-view name="friends-tab">
        <ion-nav-buttons side="secondary">
          <button class="button icon ion-android-add button-positive" ng-click="doSomething()"></button>
        </ion-nav-buttons>

      </ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
