<ion-view view-title="Create Activity">
  <ion-content layout-padding>
    <!-- form.name causes it to be published into $scope -->
    <form name="activityForm" ng-submit="submitActivity(activityForm)" novalidate>
      <!--https://docs.angularjs.org/guide/forms#custom-triggers-->
      <!-- TODO form tab index, next button in mobile -->
      <div>

        <md-input-container class="md-icon-float">
          <!-- Standing person, football/soccer also -->
          <!--<i class="icon ion-android-walk placeholder-icon"></i>-->
          <md-icon>directions_run</md-icon>
          <!-- TODO work on debounce behavior ng-model-options="{ debounce: 500 }"-->
          <input name="title" ng-model="act.title" placeholder="Title"
                 type="text" required ng-minlength="5" md-maxlength="20">
          <!--ng-show="activityForm.title.$touched"-->
          <div ng-messages="activityForm.title.$error" ng-show="activityForm.title.$touched">
            <div ng-message="required">This is required.</div>
            <div ng-message="ng-minlength">too short!</div>
            <div ng-message="md-maxlength">too long! (example error)</div>
          </div>
        </md-input-container>

        <!--TODO fix datepicker padding -->
        <md-datepicker ng-model="act.startDate" md-placeholder="Date" md-min-date="today"></md-datepicker>

        <!-- TODO multi-day event UI -->

        <!-- Date & Time Picker Notes

        * Android *
        datetime does nothing
        date UI is ok, but not great
        On Tablet, a Calendar view is shown, making it much better

        Time (Similar dial UI) really sucks, too many clicks.

        Number doesn't have spinner in Android (desktop does), but #'s keyboard

        Solutions:
        For Time, just type="number" reformatted I think is the way to go
        AM/PM swap

        Look at others

        cordovaDatePicker
        Seems like the same thing as type="date" or "time"
        The only advantage seems to be the various options (minDate, etc)
        TODO Test DatePicker in iOS

        Other solutions
        https://github.com/derekbrameyer/android-betterpickers/
        Though HTML-based might be better. TODO Search Angular/Ionic Calendar pickers
        -->
        <div layout="row">
            <md-input-container>
              <!--<i class="icon ion-android-time placeholder-icon"></i>-->
              <md-icon>access_time</md-icon>
              <input name="startTime" ng-model="act.startTime" type="time" placeholder="Start time" size="6">
            </md-input-container>
            <md-input-container>
              <!--<i class="icon ion-android-time placeholder-icon"></i>-->
              <md-icon>timelapse</md-icon>
              <input name="endTime" ng-model="act.endTime" type="time" placeholder="until..." size="6">
            </md-input-container>
        </div>

        <md-input-container>
          <!-- GPS and Compass icons also available-->
          <!--<i class="icon ion-android-pin placeholder-icon"></i>-->
          <md-icon>location_on</md-icon>
          <input name="location" ng-model="act.location" placeholder="Location"
                 type="text">
        </md-input-container>

        <md-input-container>
          <!--<i class="icon ion-chatbox-working placeholder-icon"></i>-->
          <!-- textarea md-icon has issues, but putting it in label looks ok. -->
          <label><md-icon>description</md-icon> Description</label>
          <textarea name="descr" ng-model="act.descr"></textarea>
        </md-input-container>

        <!--
        Notes:
        TODO contact chips icon (layout bugs?)
        md-contact-email="email" needed?

        filter-selected was removed, Controller does this
        filter-selected="true"
        Surrounding with md-input-container makes label float over input.
        -->

        <md-contact-chips
          ng-model="act.invited"
          md-contacts="queryFriends($query)"
          md-contact-name="name"
          md-contact-image="avatarUrl"
          md-contact-email="email"
          md-highlight-flags="i"
          md-require-match="true"
          secondary-placeholder="another friend?"
          placeholder="Invite friends..."></md-contact-chips>

        <!-- TODO type="submit"? -->
        <section layout="row" layout-align="end">
        <md-button ng-click="hideAddActivity()" class="md-primary md-raised">
          <md-icon>done</md-icon>
          Create
        </md-button>
          </section>
      </div>
    </form>
  </ion-content>
</ion-view>
