<ion-view hide-nav-bar="true" view-title="Login">
  <ion-content class="padding">
    <h1>Login</h1>
    <p>How do you want to login to sportSocial?</p>
    <!--
    <div class="login-btns">
        <div id="social-links">
            <ul>
                <li ng-click="fbLogin()"><span class="ifacebook"><img src="img/social-icons/facebook.png"></span><a href="#" class="afacebook">sign in with facebook</a></li>
                <li ng-click="gplusLogin()"><span class="igoogleplus"><img src="img/social-icons/googleplus.png"></span><a href="#" class="agoogleplus">sign in with google+</a></li>
            </ul>
        </div>
        <hr id="login-divider" />
        <div id="login-reg">
            <button id="btn-login" class="button button-clear button-positive uppercase">Login</button>
            <button id="btn-reg" class="button button-clear button-positive uppercase">Register</button>
        </div>
    </div>
    -->
    <!--
    Branding
    https://developers.facebook.com/docs/facebook-login/best-practices#useSDKs
    https://developers.google.com/+/branding-guidelines?hl=en
    -->
    <button class="button button-positive">Facebook</button>
    <button class="button button-assertive">Google</button>

    <p>
    <a>I've been focusing on mocking other areas. The Login page still needs to be done.
      <a href="http://ionicmaterial.com/">Ionic Material</a> has a fancy Login page in their demo; we'll probably do something similar.</a>
    </p>
  </ion-content>
</ion-view>
