<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <!-- TODO hide menu-toggle when exposed -->
        <!--<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>-->
        <md-button class="md-icon-button md-primary" aria-label="Menu" menu-toggle="left">
          <md-icon>menu</md-icon>
        </md-button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <a href="#/app/dashboard" menu-close class="bar bar-header bar-energized">
      <!--<div class="buttons">-->
      <button class="button button-dark icon ion-home button-clear"></button>
      <!--</div>-->
      <h1 class="title">sportSocial</h1>
    </a>
    </ion-header-bar>
    <ion-content class="has-header">
      <ion-list>
        <!-- Badge indicates action, accept friend,
        or information? # activities?
        Buttons on right to add?
        -->
        <!--<ion-item menu-close href="#/app/dashboard" class="item-icon-left">-->
          <!--<i class="icon ion-home"></i>-->
          <!--Home-->
          <!--<span class="badge badge-positive">2</span>-->
        <!--</ion-item>-->
        <ion-item menu-close href="#/app/activities" class="item-icon-left">
          <i class="icon ion-ios-football"></i>
          Activities
        </ion-item>
        <ion-item menu-close href="#/app/friends" class="item-icon-left">
          <i class="icon ion-person-stalker"></i>
          Friends
          <span class="badge badge-positive">2</span>
        </ion-item>
        <ion-item menu-close href="#/app/account" class="item-icon-left">
          <i class="icon ion-ios-body"></i>
          Account
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
