<ion-view view-title="Account" hide-nav-bar="true">
  <ion-content class="md-padding">

    <md-card>
      <!--<md-card-content>-->
      <!-- FIXME position: relative needed for md-secondary to work, CSS issues?
       Couldn't figure out why angular's position: relative isn't taking effect.
       -->
      <!-- Need md-list to prevent item clicks from staying shaded -->
    <md-list style="padding: 0;" class="no-disabled-styling">
      <!-- Seems to automatically toggle switch without ng-click being added -->
      <md-list-item style="position: relative;" class="md-primary" md-ink-ripple>
        <md-subheader class="md-primary">Your public profile</md-subheader>
        <md-icon ng-class="{'md-primary':accountCtrl.editingProfile}">edit</md-icon>
        <md-switch class="md-secondary md-primary md-icon-button" aria-label="Toggle looking for friends"
                   ng-model="accountCtrl.editingProfile"
                   ng-change="accountCtrl.editingProfileChanged(accountCtrl.editingProfile)"></md-switch>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item ng-click="accountCtrl.editName($event)" class="md-2-line" ng-disabled="!accountCtrl.editingProfile">
        <img src="/assets/images/demo/scuba_avatar.jpg" class="md-avatar">
        <div class="md-list-item-text">
          <h3>Arlo White</h3>
          <i class="icon ion-male"> Male</i>
        </div>
        <md-icon class="editable md-primary" ng-if="accountCtrl.editingProfile">edit</md-icon>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item layout="row">
        <div flex>
          <md-icon>cake</md-icon>
          November 1984
        </div>
        <div flex>
          Age 30
        </div>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item id="location-container" class="animate-switch-container"
                    ng-click="accountCtrl.showLocationEditor($event)"
           ng-switch="accountCtrl.editingLocation" aria-label="Edit location" ng-disabled="!accountCtrl.editingProfile">
        <div ng-switch-default flex="100">
          <md-icon>place</md-icon>
          Corvallis, OR
        </div>
        <div class="animate-switch" id="location-editor" ng-switch-when="true" flex="100">
          <!-- TODO create form, submit button, make directive -->
          <md-input-container class="md-icon-float">
            <label>New location?</label>
            <md-icon>place</md-icon>
            <input id="profile-location" type="text">
          </md-input-container>
          <div layout="row" layout-align="end center">
            <md-button ng-click="accountCtrl.hideLocationEditor($event)">Cancel</md-button>
            <md-button type="submit" class="md-raised md-primary" ng-click="accountCtrl.hideLocationEditor($event)">
              <md-icon>done</md-icon> Save
            </md-button>
          </div>
        </div>
        <md-icon class="editable md-primary" ng-if="accountCtrl.editingProfile">edit</md-icon>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-2-line no-inner-padding" ng-disabled="!accountCtrl.editingProfile">
        <div layout="column" layout-align="start start" style="min-height: 84px;" flex>
          <md-switch ng-model="profile.wantFriends" class="md-primary md-body-2" ng-disabled="!accountCtrl.editingProfile">
            Looking for friends
          </md-switch>
          <div ng-switch="profile.wantFriends">
            <p class="info-text animate-text-switch" ng-switch-when="true">Other sportSocial users in your area <b>may send you friend invitations</b>.</p>
            <p class="info-text animate-text-switch" ng-switch-when="false">Other sportSocial users <b>cannot search for your profile</b>.</p>
          </div>
        </div>
        <md-icon class="editable md-primary" ng-if="accountCtrl.editingProfile">edit</md-icon>
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-2-line">
        <div class="md-list-item-text">
          <h3>Favorite activities</h3>
          <span class="activity-tags">scuba-diving, rock-climbing</span>
        </div>
      </md-list-item>
    </md-list>
      <!--</md-card-content>-->
    </md-card>

    <!-- Add margin so collapsing location editor doesn't scroll from top -->
    <md-card style="margin-bottom: 80px;">
      <md-subheader class="md-primary">
        Social networks
      </md-subheader>

      <md-list-item layout="column" style="padding-bottom: 8px;">
        <!--<div class="md-list-item-text">-->
          <p>Connect to your social networks to invite friends to sportSocial.
            If you have privacy concerns, read <a href="">how sportSocial uses social networks</a>.</p>
        <!--</div>-->
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item layout="row" class="md-2-line md-padding" style="position: relative;">
        <div flex class="md-list-item-text">
          <h3 class="assertive">Google+</h3>
          <p>Not connected</p>
        </div>
        <!--<div style="padding-right: 1.2em;">-->
          <md-button class="md-raised md-secondary">
            <md-icon>add_circle</md-icon>
            Connect
          </md-button>
        <!--</div>-->
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-2-line md-padding" style="position: relative;">
        <div flex class="md-list-item-text">
          <h3 class="positive">Facebook</h3>
          <p>145 friends</p>
        </div>
        <md-button class="md-warn md-secondary">
          <md-icon>remove_circle</md-icon>
          Disconnect
        </md-button>
      </md-list-item>
    </md-card>
  </ion-content>
  <!-- Alternate save buttons idea.
  Pros: next to keyboard
  Cons: disconnected from input
  -->
  <!--<ion-footer-bar keyboard-attach layout="row" layout-align="end center" ng-show="editingLocation">-->
    <!--<md-button ng-click="hideLocationEditor($event)">Cancel</md-button>-->
    <!--<md-button class="md-raised md-primary" ng-click="hideLocationEditor($event)">-->
      <!--<md-icon>done</md-icon> Save-->
    <!--</md-button>-->
 <!--</ion-footer-bar>-->
</ion-view>
