
.slow-pulse,
.slow-pulse .icon {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  @include animation-iteration-count(infinite);
  @include animation-duration(6s);
  @include animation-timing-function(ease);
}
.slow-pulse{
  @include animation-name(slowPulse);
}
.slow-pulse .icon{
  @include animation-name(slowPulseIcon);
  /* icon isn't centered (element height taller than icon) */
  @include transform-origin(50%, 26px);
}

@include keyframes(slowPulse) {
  /* tab-item starts at 0.7 opacity */
  from{
    opacity: 0.7;
  }
  12% {
    opacity: 0.9;
  }
  /* wait time */
  24% {
    opacity: 0.7;
  }
  to{
    opacity: 0.7;
  }
}
@include keyframes(slowPulseIcon) {
  from{
    @include transform(rotate(0deg));
  }
  /* wait time */
  16% {
    @include transform(rotate(360deg));
  }
  to{
    @include transform(rotate(360deg));
  }
}

md-list-item md-icon.editable{
  @include animation-iteration-count(infinite);
  @include animation-duration(4s);
  @include animation-timing-function(ease);
  @include animation-name(editablePulse);

  &.ng-leave {
    display: none;
  }
}

@include keyframes(editablePulse) {
  $low-opacity: 0.4;
  from{
    opacity: $low-opacity;
  }
  15% {
    opacity: 0.95;
  }
  /* wait time */
  30% {
    opacity: $low-opacity;
  }
  to{
    opacity: $low-opacity;
  }
}

// animate-switch
// TODO give better class name, don't hardcode heights
// top example doesn't look good
.animate-switch-container {
  //position:relative;
  //background:white;
  //border:1px solid black;
  //height:100px;
  //overflow:hidden;

  //&.activated {
  //  background-color: red;
  //  height: 120px;
  //}
}

.animate-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.75s;
}

.animate-switch.ng-leave.ng-leave-active {
  // When leaving, only show buttons
  height: 0;
  md-input-container {
    display: none;
  }
}

.animate-switch.ng-leave {
  height: 112px - 44px;
}

.animate-switch.ng-enter {
  height: 44px;
}
.animate-switch.ng-enter.ng-enter-active {
  height: 112px;
}

// Example
.animate-text-switch.ng-animate {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position:absolute;
  top:54px;
  left:0;
  right:0;
  bottom:0;
}

.animate-text-switch.ng-leave.ng-leave-active,
.animate-text-switch.ng-enter {
  left:-100px;
  opacity: 0.0;
}
.animate-text-switch.ng-leave,
.animate-text-switch.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1.0;
}

.ss-animate-list {

  &.ng-leave.ng-leave-active,
  &.ng-enter {
    opacity: 0;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
  }

  &.ng-leave,
  &.ng-enter {
    //transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    //-webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: 0.5s linear opacity;
    -webkit-transition: 0.5s linear opacity;
  }
}
