
// FIXME This CSS is messy. Maybe changing AngMaterial SASS variables would be better
// Person name is too tall due to line-height 36px
ss-person-item {
  .md-list-item-text {
    padding-top: 2px !important;

    div {
      line-height: normal;
    }
  }
}

md-list-item.md-2-line .md-list-item-text h3,
md-list-item.md-2-line > .md-no-style .md-list-item-text h3,
md-list-item.md-3-line .md-list-item-text h3,
md-list-item.md-3-line > .md-no-style .md-list-item-text h3 {
  line-height: normal;
  margin-bottom: 0;
}

.ss-activity-tags{
  font-weight: 500;
  color: dodgerblue;
  line-height: normal;
}

.time{
  //font-weight: bold;
  //font-family: $font-family-monospace;
  //font-weight: 500;
}
.ss-dateTime {
  font-weight: 500;
  letter-spacing: 0;
}

.info-text {
  font-style: italic;
  padding: 0px $item-padding;
}

.ss-activity {
  h2{
    margin-top: 0;
    font-size: 120%;
  }
  h3{
    font-size: 110%;
    font-weight: 500;
  }
}

.no-disabled-styling .md-button[disabled] {
  color: black;

  md-icon {
    // Should reference SASS variable, but not exactly sure where this is defined
    color: rgba(0, 0, 0, 0.54);
  }
}

.md-button.ss-timid {
  font-weight: 400;
  text-transform: none;
}
span.ss-timid {
  color: #666666;
  font-size: 90%;
}

.tab-item .tab-title {
  font-weight: 500;
}
// Make icon and text visible against dark header background
ion-header-bar {
  button.md-button {
    span, md-icon {
      // Overrides red not going, but ok for now
      color: white !important;
    }
  }
}
