<ion-view view-title="{{friend.name}}">
  <ion-content class="has-header">

    <md-card class="ss-detail-view">
      <md-card-content>
        <div class="item item-divider positive" ng-if="friend.invitedYou">
          Wants to be your friend
        </div>
        <md-list-item>
          <!-- TODO Better friend view
          bigger image, more featured in profile
          where to put gender?
          -->
          <img ng-src="{{friend.avatarUrl}}" class="md-avatar">
          <h2>{{friend.name}}</h2>
          <div class="age-gender-corner" style="margin-left: 2em;">
            <strong ng-if="friend.age">{{friend.age}}</strong>
            <i class="icon ion-{{friend.gender}}"></i>
          </div>
        </md-list-item>
        <h3>
          <md-icon class="md-18">place</md-icon>
          {{friend.city}}
        </h3>
        <h3 class="activity-tags" ng-click="viewActivityTags($event)">
          <i class="icon ion-android-walk"></i>
          <span>{{friend.mainActivityTags}}</span>
          <span class="badge positive">+3</span>
        </h3>
        <section layout="row" layout-align="space-around center" ng-if="friend.invitedYou">
          <md-button class="md-warn md-raised">
            <md-icon>thumb_down</md-icon>
            Reject
          </md-button>
          <md-button class="md-primary md-raised">
            <md-icon>thumb_up</md-icon>
            Accept
          </md-button>
        </section>
      </md-card-content>
    </md-card>

    <section ng-if="friend.nextActivities">
      <md-subheader class="md-primary">Upcoming activities</md-subheader>
      <ss-activity-card activity-id="{{actId}}" ng-repeat="actId in friend.nextActivities"></ss-activity-card>
    </section>

  </ion-content>
</ion-view>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <!-- <ion-header-bar>
      <h1 class="title">Arlo's Activities</h1>
    </ion-header-bar> -->
    <ion-content>
      <div class="list">
        <div class="item item-note item-text-wrap">
          Just an example, not a fan of this popup UI.
        </div>
        <!-- FIXME clicking tag link does not close popup -->
        <a class="item" href="#/activity-tag/{{tag.id}}" ng-repeat="tag in friend.activityTags">
          {{tag.name}}
          <span class="badge">{{tag.num}}</span>
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
</script>
