// angular-material.scss variabels to override

$font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
$card-padding: 10px 14px 4px 14px;
//$baseline-grid: 6px;

@import "../../www/lib/angular-material/angular-material";

// Previously did this, don't remember why
//.md-menu {
//  padding: 2px 0px;
//}

// git://06c0bfe62ed4c59814c6849cfb72f99befe3639f textarea changes?

// Make datepicker line-up with forms
form {
  md-datepicker {
    position: relative;
    left: -18px;

    .md-datepicker-input-container{
      margin-left: 0;
    }
    .md-datepicker-button.md-icon-button {
      margin-right: 0;
    }
  }
}
