/* Original boilerplate pulled in dependencies css with bower colon scss, but
all our CSS is done by importing libraries SCSS files here.
*/

@import "scss/ionic-overrides";

// The path for our ionicons font files, relative from CSS under styles
// absolute / paths break on Android
$ionicons-font-path: "../fonts/ionicons";
// Ionic scss imports we want will be injected here
// IONIC_IMPORTS

@import "scss/mixins";
@import "scss/layout";
@import "scss/text";
@import "scss/colors_icons";
@import "scss/material-font-icons";
@import "scss/animations";
@import "scss/forms";

// Path to robotodraft fonts relative to CSS file.
$RobotoDraftFontPath: "../fonts/robotodraft";
$RobotoDraftFontName: "RobotoDraft";
$RobotoDraftFontVersion: "1.1.0";
@import "../../bower_components/robotodraft/robotodraft";

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
