// Misc Colors & Icons

// Brands
.facebook-bg{
  background-color: #3b5998 !important;
  //#8b9dc3
  color: white !important;
}
.google-plus-bg{
  //background-color: #dd4b39;
  background-color: #DC4E41 !important;
  color: white !important;
}
