/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// sportTap color
$sportTapColor:                   #1bb6ea;
$positive:                        #3f51b5;
$energized:                       $sportTapColor;

$font-family-sans-serif:          RobotoDraft, "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !default;
//$font-family-light-sans-serif:    "HelveticaNeue-Light", "Roboto-Light", "Segoe UI-Light", sans-serif-light !default;
//$font-family-serif:               serif !default;
//$font-family-monospace:           monospace !default;

// 10px default too small
$tabs-text-font-size-side-icon:   14px !default;

$item-padding:                    14px !default;
