// TODO use item padding SASS property
.age-gender-corner {
  //position: absolute;
  //right: 16px;
  //top: 16px;
  font-size: 14px;
  color: #666666;
}
.left-under-avatar {
  position: relative;
  left: -$item-avatar-width - $item-padding;
  top: $item-padding/2;
}
// Hack to fit md-buttons in ion headers
ion-header-bar .md-button {
  position: relative;
  top: -8px;
}
.md-fab-action-item i.icon {
  font-size: 24px;
}

md-list-item md-icon.editable {
  position: absolute;
  right: 4px;
  top: 4px;
  // 18, 24, 36
  font-size: 18px;
}

// Space around arrow used for separation
.icon.ion-arrow-right-b {
  margin: 0 6px;
}

ss-person-item {
  md-list-item:first-child .md-list-item-inner {
    .md-list-item-text {
      padding-bottom: 0;
    }
  }
}

ion-header-bar .md-menu {
  padding: 0;
}

.ss-creator {
  padding-left: 8px;
  float: right;
  text-align: right;

  div {
    font-size: 90%;
    color: dodgerblue;
  }
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-sizing: content-box;
  }
}
.ss-activity {
  .ss-sport-icon {
    font-size: 20px;
  }
}

.ss-sports-autocomplete {
  i {
    font-size: 20px;
    margin-right: 4px;
  }
}

// mdAutocomplete with icon and possible button on right
.ss-autocomplete-container {
  padding-left: 2px;
  md-autocomplete {
    margin-left: 8px;
  }

  .md-button.md-icon-button {
    margin-top: 8px;
  }
}

input[type=time] {
  width: 8em;
}
ion-tabs .md-fab-bottom-right {
  bottom: 47px + 20px !important;
}
