// TODO use item padding SASS property
.age-gender-corner {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 14px;
  color: #666666;
}
.left-under-avatar {
  position: relative;
  left: -$item-avatar-width - $item-padding;
  top: $item-padding/2;
}
// Hack to fit md-buttons in ion headers
ion-header-bar .md-button {
  position: relative;
  top: -8px;
}
.md-fab-action-item i.icon {
  font-size: 24px;
}
