
.activity-tags{
  //font-style: italic;
  font-weight: 500;
  color: dodgerblue;
}
.activity-tags.item{
  padding-right: 4em;
}
.time{
  //font-weight: bold;
  //font-family: $font-family-monospace;
  //font-weight: 500;
}
.info-text {
  font-style: italic;
}

.a-activity {
  h2{
    font-size: 120%;
  }
  h3{
    font-size: 110%;
    font-weight: 500;
  }
}
