<md-card class="ss-activity">
  <!-- Need position: relative for ink ripple to be contained correctly -->
  <md-card-content ng-click="openActivityDetail()" md-ink-ripple style="position: relative;">
    <h2>
      {{activity.title}} @ {{activity.locName}}
    </h2>
    <h3 layout="row" layout-wrap>
      <div>
        <md-icon class="material-icons md-18">today</md-icon>
        <span class="padding-right">{{activity.startDate|momentDate:'dddd, MMMM Do'}}</span>
      </div>
      <div>
        <md-icon class="material-icons md-18">access_time</md-icon>
        <span class="time">{{activity.startDate|momentDate:'h:mmA'}}
          <span ng-if="!multiday">&ndash; {{activity.endDate|momentDate:'h:mmA'}}</span>
        </span>
      </div>
    </h3>
    <h3 layout="row" layout-wrap ng-if="multiday">
      <div>
        <md-icon class="material-icons md-18">arrow_forward</md-icon>
        <span class="padding-right">{{activity.endDate|momentDate:'dddd, MMMM Do'}}</span>
      </div>
      <div>
        <md-icon class="material-icons md-18">timelapse</md-icon>
        <span class="time">{{activity.endDate|momentDate:'h:mmA'}}</span>
      </div>
    </h3>
    <!-- TODO if limited, ellipses ... -->
    <p>{{activity.descr|limitTo:200}}</p>
  </md-card-content>
  <div class="md-actions" layout="row" layout-align="center center" layout-wrap>
    <md-button>
      <md-icon>people</md-icon>
      {{activity.numRsvpPossible}} People
    </md-button>
    <md-menu ng-if="activity.myRsvp">
      <md-button aria-label="Open RSVP menu" class="md-raised"
                 ng-class="rsvpButton.buttonClass"
                 ng-click="openRsvpMenu($mdOpenMenu,$event)">
        <md-icon md-menu-origin>{{rsvpButton.icon}}</md-icon>
        {{rsvpButton.label}}
      </md-button>
      <md-menu-content>
        <!-- TODO populate menu with choices in repeat?
         There were some GitHub problems with this I noticed, don't bother for now.
         -->
        <md-menu-item ng-show="omitMenuRsvp != 'going'">
          <md-button ng-click="changeRsvp('going')" class="md-primary">
            <md-icon md-menu-align-target>done</md-icon>
            Going
          </md-button>
        </md-menu-item>
        <md-menu-divider ng-show="omitMenuRsvp != 'going'"></md-menu-divider>
        <md-menu-item ng-show="omitMenuRsvp != 'maybe'">
          <md-button ng-click="changeRsvp('maybe')" class="slow-pulse">
            <md-icon md-menu-align-target>help</md-icon>
            Maybe
          </md-button>
        </md-menu-item>
        <md-menu-divider ng-show="omitMenuRsvp == 'going'"></md-menu-divider>
        <md-menu-item ng-show="omitMenuRsvp != 'no'">
          <md-button ng-click="changeRsvp('no')" class="md-warn">
            <md-icon>thumb_down</md-icon>
            Not going
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-card>
