<!-- TODO one-time? ::
Always an a element?
-->
<!--<a href="#/app/friend/{{person.id}}" >-->
<md-list-item class="md-2-line"
              ng-click="goToPerson()">
  <img src="{{person.avatarUrl}}" class="md-avatar"/>
  <!--<div class="age-gender-corner">-->
  <!--<strong ng-if="person.age">{{person.age}}</strong>-->
  <!--<i class="icon ion-{{person.gender}}"></i>-->
  <!--</div>-->
  <div class="md-list-item-text">
    <div layout="row" layout-align="center center">
      <h3 flex>{{person.name}}</h3>
      <span class="age-gender-corner">
        <strong ng-if="person.age">{{person.age}}</strong>
        <i class="icon ion-{{person.gender}}"></i>
      </span>
    </div>
    <p>
      <i class="icon ion-android-walk"></i>
      <span class="activity-tags">{{person.mainActivityTags}}</span>
    </p>
  </div>
</md-list-item>
<md-list-item ng-if="person.nextActivity" ng-click="goToActivity()">
  <!-- TODO no-wrap time -->
  <b>{{person.nextActivityDate}}</b>
  <i class="icon ion-arrow-right-b"></i>
  {{person.nextActivity}}
</md-list-item>
<md-divider></md-divider>
