<!-- TODO one-time? ::
Always an a element?
-->
<!--<a href="#/app/friend/{{person.id}}" >-->
<md-list-item class="md-2-line"
              ng-click="goToPerson()">
  <img src="{{::person.avatarUrl}}" class="md-avatar"/>
  <!--<div class="age-gender-corner">-->
  <!--<strong ng-if="person.age">{{person.age}}</strong>-->
  <!--<i class="icon ion-{{person.gender}}"></i>-->
  <!--</div>-->

  <div layout="row" layout-align="center center" flex>
    <div flex>{{::person.name}}</div>
      <span class="age-gender-corner">
        <strong ng-if="::person.age">{{::person.age}}</strong>
        <i class="icon ion-{{::person.gender}}"></i>
      </span>
  </div>
</md-list-item>
